@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  background-color: hsl(0, 61%, 73%);
}
#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #00000060;
}
.box1 {
  height: 100%;
  width: 25%;
  /* background-color: blue; */
}
.box2 {
  height: 100%;
  width: 65%;
  background-image: url(https://images.unsplash.com/photo-1494790108377-be9c29b29330?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
.box3 {
  height: 100%;
  width: 10%;
}
.text-div {
  position: absolute;
  top: 45%;
  left: 6%;
  transform: translate(0, -30%);
}
.text-div > h1 {
  width: 300px;
  font-size: 85px;
  font-weight: 900;
  line-height: 78px;
  letter-spacing: 10px;
  color: #fff;
  text-transform: uppercase;
}
.small-img-div {
  height: 400px;
  width: 300px;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%);
  background-image: url(https://images.unsplash.com/photo-1479936343636-73cdc5aae0c3?q=80&w=1480&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
}
.vertical-text {
  position: absolute;
  transform-origin: (0%, 0%);
  transform: rotate(90deg);
  transform-origin: 0% 0%;
  right: -60%;
  top: -5%;
}
.vertical-text h1 {
  text-transform: uppercase;
  letter-spacing: 7px;

  color: transparent;
  font-size: 90px;
  font-weight: 900;
  -webkit-text-stroke-color: #fff;
  -webkit-text-stroke-width: 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#nav {
  position: absolute;
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  top: 5%;
  left: 7%;
}
#nav h5{
  color: #fff;
  z-index: 4;
}
#nav img {
  height: 50px;
}
